address{
  color: grey ;
  font-style: italic;
}

p{
  text-align: center;
  font-style: oblique;
}

.h1 {
  text-align: center;
  background-color: #aa3434 ;
  color: white;
  font-size: x-large ;
  font-weight: 900 ;
}

#img {
text-align: center;
}
